<nav class="navbar">

   <div class="logo">
       <h2>EduRisk</h2>
   </div>

   <div class="nav-links">
       <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
           Home
       </a>

       <a href="/about">
           About
       </a>

       <a href="/risk-result">
           Risk Result
       </a>

       <a href="/student-profile">
           Student Profile
       </a>

       <a href="/management">
           Management
       </a>
   </div>

   <div class="profile-circle">
       AD
   </div>

</nav>